
$twilight-transform-time: 1s ease-in !default;
$twilight-opacity-time: .5s ease-in !default;

$accordion-transform-time: .5s ease-in !default;
$accordion-opacity-time: 1s ease-out !default;

$ghost-transform-time: 1s ease-in !default;
$ghost-opacity-time: .75s ease-in !default;


.is-bg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  overflow: hidden;

  >.is-bg-item {
    position: absolute;
    background-repeat: no-repeat;


    &.twilight {
      transition: transform $twilight-transform-time, opacity $twilight-opacity-time;

      &.animate {
        opacity: 0;
      }
    }

    &.accordion {
      transition: transform $accordion-transform-time, opacity $accordion-opacity-time;
      transform-origin: -50% -50%;

      &.animate {
        transform: rotateX(90deg);
        opacity: 0;
      }
    }

    &.ghost {
      transition:  transform $ghost-transform-time, opacity $ghost-opacity-time;

      &.animate {
        opacity: 0;
      }
    }
  }
}