#image-switcher {

  height: 75vh;

  .title {
    font-size: 4em;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
    color: #fff;
  }

  .subtitle {
    font-size: 2em;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
    color: rgba(200, 200, 200, 1);
    font-family: $font-family-cursive;
  }

  >.bg-color{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, .5);
  }

  .is-bg-container >.is-bg-item {

    &.ghost {
      transition: transform 4s ease-in, opacity 4s ease-in !important;
    }
  }
}