#technologies {

  overflow: hidden;
  position: relative;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    &-image {
      background-image: url('./../assets/images/photo-1488590528505-98d2b5aba04b.jpeg');
      z-index: -2;
    }

    &-color {
      background-image: linear-gradient($technologies_gradient_direction, $technologies_gradient_start, $technologies_gradient_end);
      z-index: -1;
    }
  }


  //Circle container
  .circle-container {
    position: relative;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    box-sizing: content-box;
    margin: 0;
    border: solid 2px $technologies_borderColor;

    width: $technologies_circleRadius_xl;
    height: $technologies_circleRadius_xl;
    min-width: $technologies_circleRadius_xl;
    min-height: $technologies_circleRadius_xl;
    max-width: $technologies_circleRadius_xl;
    max-height: $technologies_circleRadius_xl;

    @include media-breakpoint-only("xs") {
      width: $technologies_circleRadius_xs;
      height: $technologies_circleRadius_xs;
      min-width: $technologies_circleRadius_xs;
      min-height: $technologies_circleRadius_xs;
      max-width: $technologies_circleRadius_xs;
      max-height: $technologies_circleRadius_xs;
    }

    @include media-breakpoint-only("sm") {
      width: $technologies_circleRadius_sm;
      height: $technologies_circleRadius_sm;
      min-width: $technologies_circleRadius_sm;
      min-height: $technologies_circleRadius_sm;
      max-width: $technologies_circleRadius_sm;
      max-height: $technologies_circleRadius_sm;
    }

    @include media-breakpoint-only("md") {
      width: $technologies_circleRadius_md;
      height: $technologies_circleRadius_md;
      min-width: $technologies_circleRadius_md;
      min-height: $technologies_circleRadius_md;
      max-width: $technologies_circleRadius_md;
      max-height: $technologies_circleRadius_md;
    }

    @include media-breakpoint-only("lg") {
      width: $technologies_circleRadius_lg;
      height: $technologies_circleRadius_lg;
      min-width: $technologies_circleRadius_lg;
      min-height: $technologies_circleRadius_lg;
      max-width: $technologies_circleRadius_lg;
      max-height: $technologies_circleRadius_lg;
    }

    > li {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -2em;

      @for $i from 1 to 9 {
        &:nth-of-type(#{$i}) {

          transform: rotate(($i - 1) * 45deg) translate($technologies_circleItem_translate_xl) rotate(-1 * ($i - 1) * 45deg);

          @include media-breakpoint-only("xs") {
            transform: rotate(($i - 1) * 45deg) translate($technologies_circleItem_translate_xs) rotate(-1 * ($i - 1) * 45deg);
          }

          @include media-breakpoint-only("sm") {
            transform: rotate(($i - 1) * 45deg) translate($technologies_circleItem_translate_sm) rotate(-1 * ($i - 1) * 45deg);
          }

          @include media-breakpoint-only("md") {
            transform: rotate(($i - 1) * 45deg) translate($technologies_circleItem_translate_md) rotate(-1 * ($i - 1) * 45deg);
          }

          @include media-breakpoint-only("lg") {
            transform: rotate(($i - 1) * 45deg) translate($technologies_circleItem_translate_lg) rotate(-1 * ($i - 1) * 45deg);
          }
        }
      }

      a {
        display: block;
        background-color: #fff;

        width: $technologies_circleItem_widthAndHeight_xl;
        height: $technologies_circleItem_widthAndHeight_xl;


        @include media-breakpoint-only("xs") {
          width: $technologies_circleItem_widthAndHeight_xs;
          height: $technologies_circleItem_widthAndHeight_xs;
        }

        @include media-breakpoint-only("sm") {
          width: $technologies_circleItem_widthAndHeight_sm;
          height: $technologies_circleItem_widthAndHeight_sm;
        }

        @include media-breakpoint-only("md") {
          width: $technologies_circleItem_widthAndHeight_md;
          height: $technologies_circleItem_widthAndHeight_md;
        }

        @include media-breakpoint-only("lg") {
          width: $technologies_circleItem_widthAndHeight_lg;
          height: $technologies_circleItem_widthAndHeight_lg;
        }

        border-radius: 50%;
        box-shadow: 0 0 0 2px $technologies_borderColor;

        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;

        &:hover {
          transition: transform .25s ease-out, box-shadow .25s ease-out;
          box-shadow: 0 0 1em 2px lighten($technologies_borderColor, 10);
        }
      }

      &.active {
        a {
          transition: transform .25s ease-out, box-shadow .25s ease-out;
          transform: scale(1.1);
          box-shadow: 0 0 1em 2px lighten($technologies_borderColor, 10);
        }
      }

      &.html-5 {
        a {
          background-image: url('./../assets/images/HTML5_Logo_256.png');
        }
      }

      &.css-3 {
        a {
          background-image: url('./../assets/images/css-logo.png');
        }
      }

      &.javascript {
        a {
          background-image: url('./../assets/images/Unofficial_JavaScript_logo_2.svg');
          background-color: #f7df1e;
          background-position: .4em .1em;
        }
      }

      &.node-js {
        a {
          background-image: url('./../assets/images/nodejs-logo-FBE122E377-seeklogo.com.png');
        }
      }

      &.vue {
        a {
          background-image: url('./../assets/images/Vue.js_Logo_2.svg');
        }
      }

      &.react {
        a {
          background-image: url('./../assets/images/React-icon.svg');
        }
      }

      &.angular {
        a {
          background-image: url('./../assets/images/angular.svg');
        }
      }

      &.sass {
        a {
          background-image: url('./../assets/images/Sass_Logo_Color.svg');
        }
      }
    }
  }

  //Card holder
  .card-holder {
    position: relative;
    width: 100%;
    height: 100%;

    > .card {

      position: absolute;
      top: 0;
      left: 0;

      width: 80%;

      border-radius: 30px;
      box-shadow: 0 0 40px #000;
      transform: translateY(0) rotate(4deg) translateX(25px) scale(1);
      transform-origin: 0 0;

      .card-header {

        padding-bottom: .5rem;

        .card-title {
          margin-bottom: 0;
        }
      }

      .card-footer {
        padding-top: .5rem;
      }


      &.animate {
        transition: transform 0.6s cubic-bezier(.8, .2, .1, 0.8) 0.1s, background 0.4s linear;
      }

      &--next {
        z-index: 5;
        transform: translateY(-25px) rotate(4deg) translateX(25px) scale(1);
      }

      &--out {
        transform: translateY(-50px) rotate(8deg) translateX(55px) scale(0.95);
        z-index: 1;
        background: #bbb;

        &.animate {
          animation: card-out 0.6s cubic-bezier(.8,.2,.1,0.8);
        }
      }

      &--current {
        cursor: auto;
        user-select: auto;
        position: relative;
        z-index: 10;
        opacity: 1;
        background: #EEE;
        transform: rotate(-1deg) translateX(0%) scale(1);
      }


      &.html-5 {

        color: $gray-100;
        border-color: darken($technologies_cards_html5_color, 25);
        background-color: darken($technologies_cards_html5_color, 25);

        .card-body {
          color: $gray-900;
          background-color: $technologies_cards_html5_color;
        }

      }

      &.css-3 {

        color: $gray-100;
        border-color: darken($technologies_cards_css3_color, 25);
        background-color: darken($technologies_cards_css3_color, 25);

        .card-body {
          color: $gray-900;
          background-color: $technologies_cards_css3_color;
        }
      }

      &.sass {
        color: $gray-100;
        border-color: darken($technologies_cards_sass_color, 25);
        background-color: darken($technologies_cards_sass_color, 25);

        .card-body {
          color: $gray-900;
          background-color: $technologies_cards_sass_color;
        }
      }

      &.angular {
        color: $gray-100;
        border-color: darken($technologies_cards_angular_color, 25);
        background-color: darken($technologies_cards_angular_color, 25);

        .card-body {
          color: $gray-100;
          background-color: $technologies_cards_angular_color;
        }
      }

      &.react {
        color: $gray-900;
        border-color: darken($technologies_cards_react_color, 25);
        background-color: darken($technologies_cards_react_color, 25);

        .card-body {
          color: $gray-900;
          background-color: $technologies_cards_react_color;
        }
      }

      &.vue {
        color: $gray-100;
        border-color: darken($technologies_cards_vue_color, 25);
        background-color: darken($technologies_cards_vue_color, 25);

        .card-body {
          color: $gray-100;
          background-color: $technologies_cards_vue_color;
        }
      }

      &.node-js {
        color: $gray-100;
        border-color: darken($technologies_cards_nodeJS_color, 25);
        background-color: darken($technologies_cards_nodeJS_color, 25);

        .card-body {
          color: $gray-100;
          background-color: $technologies_cards_nodeJS_color;
        }
      }

      &.javascript {
        color: $gray-100;
        border-color: darken($technologies_cards_javascript_color, 25);
        background-color: darken($technologies_cards_javascript_color, 25);

        .card-body {
          color: $gray-900;
          background-color: $technologies_cards_javascript_color;
        }
      }

    }


  }

}

@keyframes card-out {
  0% { z-index: 20; transform: translateY(0px) rotate(-4deg); }
  50% { transform: translateY(-120%) rotate(-5deg) translateX(-40px); }
  80% { z-index: 1; }
  100% { transform: translateY(-50px) rotate(8deg) translateX(55px) scale(0.95); }
}
