<div class="container-fluid" id="application-experience-block" data-scroll-trigger="bg-primary" data-scroll-trigger-target=".navbar">
  <div class="row p-4">

    <div class="col-12">
      <div class="media">
        <img class="mr-md-3 img-fluid rounded-circle" src="https://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg" alt="Logo">
        <div class="media-body">
          <h3 class="mt-0">Senior front end developer</h3>
          Here i myst explain what means be a senior front end developer, what can i do, what i can manage, and so
        </div>
      </div>
    </div>
  </div>
</div>
