<div class="container-fluid presentation-block">
  <div id="image-switcher" class="row align-items-center">
    <div class="col-12 text-center">
      <h3 class="title">Vicente Manuel Aleixos Bellido</h3>
      <h4 class="subtitle">Senior Front-End Developer</h4>
    </div>
    <div class="bg-color"></div>
  </div>
</div>
