<div class="container-fluid p-5" id="technologies" data-scroll-trigger="bg-primary" data-scroll-trigger-target=".navbar">

  <h2 class="text-center text-white font-weight-bolder text-shadow-white">Technologies</h2>

  <div class="row">

    <!-- Circle container -->
    <div class="col">
      <div class="d-flex justify-content-center">
        <ul class="circle-container mt-5 mb-5 ml-3">

          <li class="sass">
            <a href="" data-target="sass"></a>
          </li>

          <li class="angular">
            <a href="" data-target="angular"></a>
          </li>

          <li class="react">
            <a href="" data-target="react"></a>
          </li>

          <li class="vue">
            <a href="" data-target="vue"></a>
          </li>

          <li class="node-js">
            <a href="" data-target="node-js"></a>
          </li>

          <li class="javascript">
            <a href="" data-target="javascript"></a>
          </li>

          <li class="html-5 active">
            <a href="" data-target="html-5"></a>
          </li>

          <li class="css-3">
            <a href="" data-target="css-3"></a>
          </li>


        </ul>
      </div>
    </div>
    <!-- /Circle container -->

    <!-- Cards -->
    <div class="col">
      <div class="card-holder ml-4 mt-6">

        <!-- HTML 5 -->
        <div class="card html-5 card--current">

          <div class="card-header">
            <h4 class="card-title">Html 5</h4>
          </div>

          <div class="card-body">
            HTML 5 is a software solution stack that defines the properties and behaviors of web page content by implementing a markup based pattern to it.
          </div>

          <div class="card-footer">
            Level
            <span class="float-right">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
          </div>

        </div>
        <!-- /HTML 5 -->

        <!-- CSS3 -->
        <div class="card css-3 card--next">

          <div class="card-header">
            <h4 class="card-title">CSS 3</h4>
          </div>

          <div class="card-body">
            Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language like HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.
          </div>

          <div class="card-footer">
            Level
            <span class="float-right">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
          </div>

        </div>
        <!-- /CSS3 -->

        <!-- Javascript -->
        <div class="card javascript">

          <div class="card-header">
            <h4 class="card-title">Javascript</h4>
          </div>

          <div class="card-body">
            JavaScript often abbreviated as JS, is a high-level, interpreted programming language that conforms to the ECMAScript specification.
            It is a language that is also characterized as dynamic, weakly typed, prototype-based and multi-paradigm.
          </div>

          <div class="card-footer">
            Level
            <span class="float-right">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </span>
          </div>
        </div>
        <!-- /Javascript -->

        <!-- Sass -->
        <div class="card sass">

          <div class="card-header">
            <h4 class="card-title">Sass</h4>
          </div>

          <div class="card-body">
            Sass (Syntactically awesome style sheets) is a style sheet language initially designed by Henry Thornton and developed by Natalie Weizenbaum.
            After its initial versions, Weizenbaum and Chris Eppstein have continued to extend Sass with SassScript, a simple scripting language used in Sass files.
          </div>

          <div class="card-footer">
            Level
            <span class="float-right">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </span>
          </div>

        </div>
        <!-- /Sass -->

        <!-- Angular -->
        <div class="card angular">

          <div class="card-header">
            <h4 class="card-title">Angular</h4>
          </div>

          <div class="card-body">
            Angular (commonly referred to as "Angular 2+" or "Angular v2 and above") is a TypeScript-based open-source full-stack web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.
          </div>

          <div class="card-footer">
            Level
            <span class="float-right">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </span>
          </div>

        </div>
        <!-- /Angular -->

        <!-- React -->
        <div class="card react">

          <div class="card-header">
            <h4 class="card-title">React</h4>
          </div>

          <div class="card-body">
            React (also known as React.js or ReactJS) is a JavaScript library for building user interfaces. It is maintained by Facebook and a community of individual developers and companies.
            <br />
            React can be used as a base in the development of single-page or mobile applications. Complex React applications usually require the use of additional libraries for state management, routing, and interaction with an API.
          </div>

          <div class="card-footer">
            Level
            <span class="float-right">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </span>
          </div>

        </div>
        <!-- /React -->

        <!-- Vue -->
        <div class="card vue">

          <div class="card-header">
            <h4 class="card-title">Vue</h4>
          </div>

          <div class="card-body">
            Vue.js features an incrementally adoptable architecture that focuses on declarative rendering and component composition.
            Advanced features required for complex applications such as routing, state management and build tooling are offered via officially maintained supporting libraries and packages.
          </div>

          <div class="card-footer">
            Level
            <span class="float-right">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </span>
          </div>

        </div>
        <!-- /Vue -->

        <!-- NodeJS -->
        <div class="card node-js card--out">

          <div class="card-header">
            <h4 class="card-title">Node.JS</h4>
          </div>

          <div class="card-body">
            Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code outside of a browser.
            Node.js lets developers use JavaScript to write command line tools and for server-side scripting—running scripts server-side to produce dynamic web page content before the page is sent to the user's web browser.
            Consequently, Node.js represents a "JavaScript everywhere" paradigm, unifying web application development around a single programming language, rather than different languages for server side and client side scripts.
          </div>

          <div class="card-footer">
            Level
            <span class="float-right">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </span>
          </div>

        </div>
        <!-- /NodeJS -->

      </div>
    </div>
    <!-- /Cards -->

  </div>

  <div class="bg bg-color"></div>
  <div class="bg bg-image"></div>
</div>
