
$font-family-base: 'Oswald', sans-serif;
$font-family-cursive: 'Permanent Marker', cursive;

$bg-light-gray: darken(#fff, 10);
$bg-dark-gray: lighten(#000, 10);


//Adding more bootstrap spaces
$spacer: 1em;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 6),
    7: ($spacer * 12),
    8: ($spacer * 24),
    9: ($spacer * 32),
   10: ($spacer * 64)
);

//$font-size-base: 1.2rem;

//Texts varaiables
$textShadow_black_color: rgba(lighten(#000, 25), .5);
$textShadow_black_distance: 3px 3px 2px;
$textShadow_white_color: rgba(darken(#fff, 25), .5);
$textShadow_white_distance: 2px 2px 2px;


//Technologies variables
$technologies_circleRadius_xs: 300px;
$technologies_circleItem_translate_xs: 150px;
$technologies_circleItem_widthAndHeight_xs: 64px;

$technologies_circleRadius_sm: 500px;
$technologies_circleItem_translate_sm: 250px;
$technologies_circleItem_widthAndHeight_sm: 64px;

$technologies_circleRadius_md: 300px;
$technologies_circleItem_translate_md: 150px;
$technologies_circleItem_widthAndHeight_md: 64px;

$technologies_circleRadius_lg: 400px;
$technologies_circleItem_translate_lg: 200px;
$technologies_circleItem_widthAndHeight_lg: 64px;

$technologies_circleRadius_xl: 400px;
$technologies_circleItem_translate_xl: 200px;
$technologies_circleItem_widthAndHeight_xl: 64px;

$technologies_borderColor: #70D6FE;
$technologies_gradient_direction: 135deg;
$technologies_gradient_start: rgba(#011231, .6) 0%;
$technologies_gradient_end: rgba(#000, 1) 90%;

$technologies_cards_html5_color: #f1642a;
$technologies_cards_css3_color: #2c95d5;
$technologies_cards_sass_color: #cd6799;
$technologies_cards_angular_color: #c3002f;
$technologies_cards_react_color: #77defc;
$technologies_cards_vue_color: #41b883;
$technologies_cards_nodeJS_color: #539f43;
$technologies_cards_javascript_color: #f7df1e;
